<!doctype html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <title>CSS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main_style.css') }}">
  </head>

  <body>
  <div class="ex-layout">
	<div class="gnb"><h1>test</h1></div>
	<div class="main">
		<div class="lnb">menu</div>
		<div class="content">
            <br>
			<form action="{{ url_for('cve.create') }}" method="post">
                <textarea name="cve_number" id="cve_number" rows="1"></textarea>
                <input type="submit" value="CVE 등록">
            </form>
            <a href="/cve/list">CVE_LIST</a>
		</div>
	</div>
    </div>
  </body>
</html>



